html {
	padding: 0;
	margin:	0;
}


body {
	font: 100%/1.4 Lucida Grande, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	font-size:12px;
	background: url(../img/bg.png) repeat-x top;
}

ul, ol, dl { 
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}

h1 {
	font-size:20pt;
}

a img { 
	border: none;
}

a:link {
	color:#414958;
	text-decoration: underline; 
}

a:visited {
	color: #4E5869;
	text-decoration: underline;
}

a:hover, a:active, a:focus { 
	text-decoration: none;
}

table {
	 border-collapse: collapse;	
	 margin: 10px;
	
}

td {
	display: table-cell;
	border: 1px solid #ccc;
}

td:not(:first-child){
	text-align: center;
}

.container {
	width: 950px;
	background: #FFF;
	margin: 0 auto; 
	overflow:hidden;
}

.sidebar1 {
	float: left;
	width: 150px;
	background: #93A5C4;
	padding-bottom: 10px;
	border-radius: 5px;
}

.content {
	padding: 10px;
	width: 95%;
	float: left;
	overflow:hidden;	
	
}

.tophead {
	width:100%;
	height:235px;
	background-image:url(../img/head.png);
	overflow:hidden;
	clear:both;
	border-radius:5px;
	background-repeat: no-repeat;
}

#sitename {
	clear: none;
	float: left;
	display:block;
	width: 250px;
	margin-left:47px;
		
	font-size:18px;
	
}

#sitename a {
	text-decoration:none;
	font-size:18px;	
	display:block;
	width:110px;
	height:36px;
	margin-top: 78px;
	margin-left:18px;
	text-align:center;
}

#sitename a:hover {
	font-size:22px;
	color:#036;
}

#welcome  {
	width:350px;
	margin-top:47px;
	padding-top:20px;
	text-align:center;
	background-color:##1e557d;
	border: 2px solid white;
	border-radius:5px;
	float:left;
	font-size:16px;
	color:yellow;
	
	}

#logout a {
width:100px;
float:right;
margin-top:50px;
height:30px;
border:1px solid white;
border-radius:5px;
padding-top:9px;
text-align:center;
color:yellow;
clear:right;	

}
#logout a {
	font-size:13px;
	vertical-align:middle;
}

#menu {
	width:100%;
	height:30px;
	clear:both;
}

#ulmenu  {
	height:236px;
	list-style:none;
	padding-left:268px;
}

#ulmenu li  {
	
	font-size: 1.2em;
	line-height: 1.3;

	
/* 	border-bottom: 1px solid  #666;
	border-top: 1px solid  #666; */

}

#ulmenu li a {
			display: block;
			width: 118px;
			float: left;
			margin-top: 35px;
			text-align:center;
			color: white;
			font-weight: bold;
			text-decoration: none;
			z-index:1111;
			}

#ulmenu li a:HOVER, #ulmenu li a:ACTIVE{
				color:yellow;
				}
				
#ulmenu li.active {
				color:yellow;
				}


#intcontent  {
width:98%;
margin:0 auto;

}

.buttons {
	margin: 10px;	
}

.paginator {
	width:98%;
	
	margin:0 auto;
	text-align: center;
	font-size: medium;
	display:block;
}
.onebutton  {
	border: 1px solid #DDD;
	border-radius: 3px;
	text-shadow: 0 1px 1px white;
	-webkit-box-shadow: 0 1px 1px #fff;
	-moz-box-shadow:    0 1px 1px #fff;
	box-shadow:         0 1px 1px #fff;
	font: bold 11px Sans-Serif;
	padding: 6px 10px;
	white-space: nowrap;
	vertical-align: middle;
	color: #666;
	cursor: pointer;
	background-image: linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -o-linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
}

.onebutton:hover, .onebutton:focus {
	border-color: #999;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
	-moz-box-shadow:    0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
	box-shadow:         0 1px 2px rgba(0,0,0,0.25), inset 0 0 3px #fff;
}

.onebutton:active {
	border: 1px solid #AAA;
	border-bottom-color: #CCC;
	border-top-color: #999;
	-webkit-box-shadow: inset 0 1px 2px #aaa;
	-moz-box-shadow:    inset 0 1px 2px #aaa;
	box-shadow:         inset 0 1px 2px #aaa;
	background: -webkit-linear-gradient(top, #E6E6E6, gainsboro);
	background:    -moz-linear-gradient(top, #E6E6E6, gainsboro);
	background:     -ms-linear-gradient(top, #E6E6E6, gainsboro);
	background:      -o-linear-gradient(top, #E6E6E6, gainsboro);
}

.edit{
	text-align: center;
}

.remove{
	text-align: center;
}

.edit a {
	display: inline-block;
	text-decoration: none;
	width: 16px;
	background-image: url(../img/edit.png);
	background-repeat: no-repeat;
}

.remove a {
	display: inline-block;
	text-decoration: none;
	width: 16px;
	background-image: url(../img/remove.png);
	background-repeat: no-repeat;
}

.topsort {
	background-color: #CCC;
	cursor: pointer;
}

.tdhead {
	text-decoration: none; 
    color: black; 
	font-weight:bold;
	text-align:center;
	font-size:9px;
	min-width:20px;
    padding: 5px; 
    border-bottom: 1px solid #fff;
	background-image: linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -o-linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -webkit-linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(179,201,219) 46%, rgb(216,230,230) 60%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.46, rgb(179,201,219)), color-stop(0.6, rgb(216,230,230)));		
}

/**
*
* Add Edit Form
*
**/

/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
	
.jqmWindow {
   
    
    position: fixed;
    top: 1%;
    left: 50%;
    
    margin-left: -300px;
    width: 600px;
    
    background-color: #ccf;
    color: #333;
    border: 1px solid black;
	border-radius:5px;
	border: 2px outset #ccc;
    padding: 12px;
	z-index: 100;
	opacity:0,09;
}
#overlay  {
	opacity:100;
	width:100%;
	height:100%;
	
	
	
}

.jqmOverlay { background-color: #000; }

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {position:absolute;top:0;left:0;z-index:-1;
	width: expression(this.parentNode.offsetWidth+'px');
	height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

.jqmClose {
	display: block;
	float: right;
	position: absolute;
    top: 20px;
    right: 20px;
	width: 16px;
	height: 16px;
	background: url("../img/close.png") no-repeat;
	cursor: pointer;
}

/**Delete confirmation JQM dialog**/
div.jqmConfirm input[type="submit"] { padding: 4px; margin: 10px 30px; background: #000; color: #FFF; border: 1px solid #AAA; }

/* jqModal confirm CSS courtesy of;
   Alexandre Plennevaux <alexandre@pixeline.be>,
   Brice Burgess <bhb@iceburg.net> */

div.jqmConfirm { /* contains + positions the alert window */
  display: none;
  position: fixed;
  top: 17%;
  width: 100%;
}
    
/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html div.jqmConfirm {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

div.jqmConfirmWindow {
  height:auto;
  width: auto;
  margin:0 auto;
  max-width:400px;
  padding: 0 10px 10px;
  color:white;
  background:inherit;
  border:1px dashed #FFF;
}

.jqmConfirmTitle{
  margin:5px 2px;
  height:20px;
  text-align:center;
  text-transform:uppercase;
  font-weight:bold;
  color:#006;
}
.jqmConfirmTitle h1{
  margin:5px 2px;
  padding-left:5px;
  padding:0;
  font-size:16px;
  text-transform:capitalize;
  
  letter-spacing:-1px;
  font-weight:bold;

  float:left;
  height:20px;
}

div.jqmConfirmContent{
	border-top:px;
	color:white;
	font:15px/18pt Verdana;
	font-weight:bold;
	padding:5px 20px 5px;
	margin:5px auto;
	letter-spacing:0px;
}

.badWords {
/*display: none;*/
width: 90%;
padding: 5px;
text-transform: uppercase;
font-weight: bold;
color: red;
}

.addEditFrm {
display: table;
width: 500px;
margin: 10px auto;
border: 1px outset white;
border-radius:5px;
padding: 7px;
background-color: #036;
color: white;
font-weight: bold;

}

.addEditFrm input.sBtns {
	border-radius: 20px;
	cursor: pointer;
	text-align: center;
	width:444px;
	margin:0 10 auto;
}

.addEditFrm input.sBtns:hover{
	backghound-color:black;
	
}

/*�������������������������������������������������
  clearing a float without additional markup
   http://www.positioniseverything.net/easyclearing.html */

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac */
* html .clearfix {
	height: 1%;
}
.clearfix {
	display:block;
	}
/* End hide from IE-mac */


.error {
float:left;
width:16px;
height:16px;
padding: 0;
margin: 10px 3px 0;
display: block;
text-indent: -2000px;
overflow: hidden;
background: url(../img/error.png) no-repeat;
}
 
.addEditFrm div {
margin-bottom:3px;	
}

.addEditFrm span, .addEditFrm input {
float: left;
display: table-cell;
width: 215px;
height:20px;
margin: 7px 5px;
font-family: Verdana;
font-size: 13px;
}

.addEditFrm select {
	float: left;
	width:215px;
	display: table-cell;
	height:20px;
	margin: 7px 5px;
	font-family: Verdana;
	font-size: 13px;
}

.formfield {
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	line-height: 16px;
	text-align: left;
	border:1px solid yellow;
	border-radius:3px;
	margin-left:5px;
	float:left;
}



div.addEditFrm  {
	clear:both;	
}

.rate {
	font-size: xx-large;
	color: grey;
}

.rateUp, .rateDown {
	display: block;
	cursor: pointer;
}

.rateUp a, .rateDown a {
	text-decoration:none;
}
